p {
        text-align: center;
      }
      

      .page-header{
        padding-top:4%;
      }

      #page_content{
        padding: 0 5%;
      }
      #national-info {
        text-align:center ; 
        display:block;
      }
      
      .buttons {
        margin-right: 15px;
        margin-bottom:20px;
      }
      
      .list-group-item {
        color:#045a8d;
      }
      
      #countrymap{
        margin-bottom:7%;
      }
      #state_map{
        margin-bottom: 7%;
      }
      #us-state-div {
        text-align: center; 
        display:inline-block;
      }
      
      #state-info {
        text-align:center; 
        display:block;
      }
      

      
      #legend {
 /*       padding-top: 20px;*/
        height: 10%;
        background: #ffffff;
        padding:3%;
        /*border: 1px solid black;*/
      }


      #legend #shapes{
        text-align: center;
        padding-top:4%;
      }
      #legend img{
        text-align: center;
        width:50px;
        margin:5px 20px 0px 20px;
      }

      #scale .col{
        margin: 0 2px;
        height: 10px;
      }
      
      #state-info{
        display: inline-block;
      }
    
      /*  Dashboard Layout/Appearence CSS */
        #dashboard {
            /*width: 90%;*/
            padding:0 3%;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 20px;
        }
        
        /* Instructions and explaination accordion */
        #instructions {
            margin-left: 10px;
            margin-right:50px;
            /*width: 300px;*/
            height: 100%;
            float: left;
            font-size: 14px;
        }
        
       .accordion-container{
          position: relative;

          height: auto;
          margin: 20px auto;
        }
        .accordion-container > h2{
          text-align: center;
          color: #fff;
          padding-bottom: 5px;
          margin-bottom: 30px;
          border-bottom: 1px solid #ddd;
        }
        .set{
          position: relative;
          width: 100%;
          
          background-color: #f5f5f5;
        }
        .set > a{
          display: block;
          padding: 10px 15px;
          text-decoration: none;
          color: #555;
          font-weight: 600;
          border-bottom: 1px solid #ddd;
          -webkit-transition:all 0.2s linear;
          -moz-transition:all 0.2s linear;
          transition:all 0.2s linear;
        }
        .set > a i{
          position:relative;
          float: right;
          margin-top:4px;
          color: #666;
        }
        .set > a.active{
          background-color:#3399cc;
          color: #fff;
        }
        .set > a.active i{
          color: #fff;
        }
        .content{
          position:relative;
          width: 100%;
          overflow-y: scroll;
          max-height: 100px;
          background-color: #fff;
          border-bottom: 1px solid #ddd;
          display:none;
        }
        .content p{
          padding: 10px 15px;
          margin: 0;
          color: #333;
        }
        
        /* Animated statistics section */
        #comparison {
            /*width: 300px;*/
            height: 100%;
            /*float: left;*/
            padding-top: 10px;
            text-align: right;

        }
        
        .stats {
        /*margin-left: 35%;*/

        }
        
        .counter {
            font-size:50px;
            /*right:0;*/
            margin-left: 27%;
        }
        
        #msaCounter {
            color: #facb00;
        }
        
        #rigoCounter {
           color: #00aaf9; 
        }
        
        /* Donut chart section */
        #affiliation {
           width: 300px;
            height: 100%;
            float: left;
            text-align: center;
            font-size: 100%;
            margin-left:100px;
        }
        
         #donutChart {
             margin: 12px auto 0 auto;
            position: relative;
        }

        .legend {
            font-size: 8px;
        }
        
           
        
        .tooltip {
                  background: #eee;
                  box-shadow: 0 0 5px #999999;
                  color: #333;
                  display: none;
                  font-size: 8px;
                  left: 130px;
                  padding: 10px;
                  position: absolute;
                  text-align: center;
                  top: 95px;
                  width: 80px;
                  z-index: 10;
         }
        
            .chart div {
              font-size: 14px;
              font-weight: 600;
              text-align: left;
              padding: 3px;
              margin: 1px;
              color: white;
          }

          path{
            stroke-width:0.5px;
          
          }